backend/node_modules/**/*

web/node_modules/**/*
web/web-build/
web/web-report/

mobile/node_modules/**/*
mobile/.expo/*
mobile/web-build/
mobile/web-report/

npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store
